<body>
    
    <a class="black" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        <img class="baby" src="/assets/myndir/ricky.jpg">
        <h5>He will never give you upp</h5>
        <style>
        .sideR{
            grid-area: sideR;
            background-color: black;
            -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
            border-radius: 15px;    
            animation: example 4s linear 0s infinite;
        }
        
        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes example {
          0%  {background-color: black;}
          50%   {background-color: white;}      
          100%  {background-color: black;}

        }
        
        /* Standard syntax */
        @keyframes example {
          0%  {background-color: black;}
          50%   {background-color: white;}
          100%  {background-color: black;}
        }
        </style>
    </a>

</body>