<nav>
    <a href="/">{% if page.url == "/" %}stylr="color: red;"{% endif %}Home</a>
    <a href="../about.html"> {% if page.url == "/about.html" %}style="color: About</a>  
    <a href="../layouts/defoault.html"> {% if page.url == ../_layouts/defoault.html %}style="color: red;"
        default
     </a>
  </nav>
  <nav>
    {% for item in site.data.navigation %}
      <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
    {% endfor %}
  </nav>